header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    background-image: url('./Images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    display: block;
    margin-right: auto;
}
